.my_grid_item{
    background-color: #4e4e4e;
    color: #00b8d4;
    height: 100%;
    width: 100%;
}

md-tabs.main {
    background: url("../images/Dark_background_1920x1080.png") center top no-repeat;
    background-size: cover;
    margin-right: -18px; }

md-tabs.on-top md-tabs-content-wrapper{
     top:1px;
}

h3{
    margin: 10px;
}

md-toolbar{
    min-height: 40px;
}

md-tabs.no-body:not(.md-no-tab-content):not(.md-dynamic-height){
    min-height: 30px;
}

md-tabs.no-body md-tabs-content-wrapper{
    display:none;
}

md-tabs.no-body md-tab-content{
    display:none;

}

md-tabs.md-default-theme .md-tab, md-tabs .md-tab{
    color: #FFFFFF;
}

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon{
    color: #00b8d4;
}

md-tabs.no-tab-panel md-tabs-wrapper{
    display:none
}

md-fab-speed-dial{
    position: absolute;
    max-height: 45px;
    max-width: 45px;
    top: 92%;
    left: 95%;
}

md-icon:hover{
    color: #242424 !important;
}

.small-tool-bar{
    max-width: 50%;
    max-height: 30px;
    left: 25%;
    background-color: #444444 !important;
}

.blackground {
    background-color: #242424;
}