<md-sidenav class="md-sidenav-left" md-component-id="left"
            md-disable-backdrop md-whiteframe="4">
<!--TODO in ng repeat auslagern-->
    <md-toolbar >
        <h3 >OpServ</h3>
    </md-toolbar>
    <md-tabs class="no-tab-panel" md-dynamic-height md-selected="selectedSideNavIndex">
        <md-tab label="Tab #1">
            <md-content layout="column" layout-align="center center" >
                <md-button class="" ng-click="scrollCPU()">
                    CPU
                    <!--<md-icon class="material-icons" >computer</md-icon>-->
                </md-button>
                <md-button class="md-icon-button" ng-click="addItem(selectedDashboard)">
                    <md-icon class="material-icons" >memory</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="addItem(selectedDashboard)">
                    <md-icon class="material-icons" >wifi</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="addItem(selectedDashboard)">
                    <md-icon class="material-icons" >storage</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="addItem(selectedDashboard)">
                    <md-icon class="material-icons" >power</md-icon>
                </md-button>
            </md-content>
            <md-divider ></md-divider>
            <md-content layout="column" layout-align="center center">
                <md-button  class="md-mini md-icon-button" ng-click="toggleEditMode()">
                    <md-tooltip md-direction="right" md-delay="1000">
                        exit
                    </md-tooltip>
                    <md-icon class="material-icons" >exit_to_app</md-icon>
                </md-button>
            </md-content>
        </md-tab>
        <md-tab label="Tab #2">
            <md-content layout="column" layout-align="center center" >
                <md-button ng-click="addItem(selectedDashboard)">
                    Usage
                </md-button>
                <md-button  ng-click="addItem(selectedDashboard)">
                    Temp
                </md-button>
                <md-button  ng-click="addItem(selectedDashboard)">
                    Info
                </md-button>
                <md-button  ng-click="addItem(selectedDashboard)">
                    Frequency
                </md-button>
            </md-content>
            <md-divider ></md-divider>
            <md-content layout="column" layout-align="center center">
                <md-button  class="md-mini md-icon-button" ng-click="scrollBegin()">
                    <md-icon class="material-icons" >arrow_back</md-icon>
                </md-button>
            </md-content>
            <md-divider ></md-divider>
            <md-content layout="column" layout-align="center center">
                <md-button  class="md-mini md-icon-button" ng-click="toggleEditMode()">
                    <md-icon class="material-icons" >exit_to_app</md-icon>
                </md-button>
            </md-content>
        </md-tab>
        <md-tab label="Tab #3">
            <md-content layout="column" layout-align="center center" >
                <md-button class="md-icon-button" ng-click="test()">
                    CPU
                    <!--<md-icon class="material-icons" >computer</md-icon>-->
                </md-button>
                <md-button class="md-icon-button" ng-click="addItem(selectedIndex)">
                    <md-icon class="material-icons" >memory</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="addItem(selectedIndex)">
                    <md-icon class="material-icons" >wifi</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="addItem(selectedIndex)">
                    <md-icon class="material-icons" >storage</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="addItem(selectedIndex)">
                    <md-icon class="material-icons" >power</md-icon>
                </md-button>
            </md-content>
            <md-divider ></md-divider>
            <md-content layout="column" layout-align="center center">
                <md-button  class="md-mini md-icon-button" ng-click="toggleEditMode()">
                    <md-icon class="material-icons" >exit_to_app</md-icon>
                </md-button>
            </md-content>
        </md-tab>
    </md-tabs>
</md-sidenav>
