<!--<md-fab-speed-dial md-open="isWidgetFabOpen" md-direction="down" class="md-scale my-top-right ">-->
    <!--<md-fab-trigger>-->
        <!--<md-button aria-label="widget_fab_menu" class=" md-fab md-mini">-->
            <!--<md-icon class="material-icons" >settings</md-icon>-->
        <!--</md-button>-->
    <!--</md-fab-trigger>-->

    <!--<md-fab-actions >-->
        <!--<md-button class="md-fab md-mini" ng-repeat="button in buttons" ng-click="button.click()">-->
           <!--{{button.text}}-->
        <!--</md-button>-->
        <!--<md-button class="md-fab md-mini" ng-click="delete()">-->
            <!--<md-icon class="material-icons" >delete forever</md-icon>-->
        <!--</md-button>-->
    <!--</md-fab-actions>-->
<!--</md-fab-speed-dial>-->


<md-button class=" md-fab md-mini md-fab-top-right" ng-click="openSettings()">
    <md-icon class="material-icons" >edit</md-icon>
</md-button>