<!--toolbar for small screens-->
<md-toolbar md-scroll-shrink="false"  class="md-tall" hide-gt-xs="">
    <div layout="row" >
        <h3>OpServ</h3>
        <span flex=""></span>
        <span>
            <md-menu  md-position-mode="target-right target" md-offset="-20 40">
                <md-button ng-click="openMenu($mdOpenMenu, $event)">
                    Account
                    <md-icon style="margin-bottom: 8px" class="material-icons">person</md-icon>
                </md-button>
                <md-menu-content md-whiteframe="20" class="blackground" width="4">
                    <md-menu-item ng-repeat="item in [1, 2, 3]">
                        <md-button ng-click="">
                            <div layout="row" flex="">
                                <p flex="">Option {{item}}</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <!--<md-menu-divider></md-menu-divider>-->
                </md-menu-content>
            </md-menu>
        </span>
    </div>
    <div layout-align="center" class="md-toolbar-tools">
        <div flex="90">
            <md-tabs class="no-body" md-selected="selectedDashboard" md-center-tabs>
                <md-tab  ng-repeat="dashboard in dashboards" label="{{dashboard.title}}">
                </md-tab>
            </md-tabs>
        </div>
    </div>
</md-toolbar>
<!--toolbar for large screens-->
<md-toolbar md-scroll-shrink="false" layout="row"  hide-xs="">
    <h3 >OpServ</h3>
    <span flex=""></span>
        <span >
            <md-tabs class="no-body" md-selected="selectedDashboard" md-center-tabs>
                <md-tab  ng-repeat="dashboard in dashboards" label="{{dashboard.title}}">
                </md-tab>
            </md-tabs>
        </span>
    <span flex=""></span>
        <span>
            <md-menu  md-position-mode="target-right target" md-offset="-20 40">
                <md-button ng-click="openMenu($mdOpenMenu, $event)">
                    Account
                    <md-icon style="margin-bottom: 8px" class="material-icons">person</md-icon>
                </md-button>
                <md-menu-content md-whiteframe="20" class="blackground" width="4">
                    <md-menu-item ng-repeat="item in [1, 2, 3]">
                        <md-button ng-click="">
                            <div layout="row" flex="">
                                <p flex="">Option {{item}}</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <!--<md-menu-divider></md-menu-divider>-->
                </md-menu-content>
            </md-menu>
        </span>
</md-toolbar>